[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
boto3 = "*"
validators = "*"
urlextract = "*"
dateparser = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[scripts]
format = "black data"
lint = "black data --check"
meetup = "scrapy crawl --overwrite-output out/meetup.json meetup"
